[package]
name = "ed25519-program"
version = "0.1.0"
edition = "2021"

[dependencies]
sp1-zkvm = "3.0.0"
serde = { version = "1.0", features = ["derive"] }
# 使用 standard feature 也可以，但 verify 是必须的
ed25519-dalek = { version = "2.1", features = ["verify", "serde"] }
shared-lib = { path = "../lib" }